.TableOutline{
    border: solid;
    border-color: #3f3933;
    border-width: 35px;
    height: 720px;
    width: 1400px;
    margin: 200px;
    border-radius: 48%;
    background-color: #708090;   
}



#logo{
    margin: 3%;
}

.CardBracket{
    border-bottom-width: 4px;
    border: solid;
    border-color: black;
    border-left: solid;
    width: 500px;
    height: 120px;
    border-top: #708090;
    margin: 3%;
}
.PlayerTile-Top-Center{
    margin-top: 5px;
}
.PlayerTile-Bottom-Center{
    margin-top: 80px;
}
.CardRow{
    margin-left:10%;
}
.CardBracket-Column{
    justify-content: center;
    float: left;
    margin: 3%;
}