.TableOutline{
    border: solid;
    border-color: #3f3933;
    border-width: 35px;
    height: 720px;
    width: 1400px;
    margin: 200px;
    border-radius: 48%;
    background-color: #708090;   
}



#logo{
    margin: 3%;
}

.CardBracket{
    border-bottom-width: 4px;
    border: solid;
    border-color: black;
    border-left: solid;
    width: 500px;
    height: 120px;
    border-top: #708090;
    margin: 3%;
}
.CardRow{
    margin-left:10%;
}
.CardBracket-Column{
    justify-content: center;
    float: left;
    margin: 3%;
}
.PlayerTile-Top-Center{
    margin-top: 5px;
}
.PlayerTile-Bottom-Center-Left{
    position: absolute;
    top: 780px;
    left: 750px; 
}
.PlayerTile-Bottom-Center-Right{
    position: absolute;
    top: 780px;
    right: 750px;
}
.PlayerTile-Left-Center{
    position: absolute;
    top: 515px;
    left: 265px;
}
.PlayerTile-Right-Center{
    position: absolute;
    top: 515px;
    right: 265px;
}
.PlayerTile-Top-Left{
    position: absolute;
    top: 308px;
    left: 490px;
}

.PlayerTile-Top-Right{
    position: absolute;
    top: 308px;
    right: 490px;
}

.PlayerTile-Bottom-Right{
    position: absolute;
    top: 720px;
    right: 490px;
}

.PlayerTile-Bottom-Left{
    position: absolute;
    top: 720px;
    left: 490px;
}
.PlayerTile-Top-Center-Left{
    position: absolute;
    top: 250px;
    left: 750px; 
}
.PlayerTile-Top-Center-Right{
    position: absolute;
    top: 250px;
    right: 750px;
}